:root {
    --modal-surface-color: #f9f9f98d;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

dialog {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--modal-surface-color);
    inline-size: 90%;
    max-inline-size: 400px;
}