:root {
    --text-color: #333333;
    --secondary-text-color: #ffffff;
    --background-color: #ffffff;
    --surface-color: #f9f9f9;
    --active-color: #FF7F50;
    --active-color-semi-transparent: #ff7f504d;
    --expired-color: #FF2400;
    --expired-color-semi-transparent: #ff24004d;
    --completed-color: #32CD32;
    --completed-color-semi-transparent: #32cd324d;
    --primary-color: #1E90FF;
    --primary-color-semi-transparent: #1e90ff6d;
    --border-color: #cccccc; 
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    min-block-size: 100vh;
}

h1, h2 {
    line-height: 1.2;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 10px 10px 0;
    border: 1px solid var(--border-color);
    min-block-size: 100vh;
    inline-size: 250px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    overflow: hidden;
}

header {
    border-bottom: 1px solid var(--border-color);
    padding: 1rem;
    flex-shrink: 0;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

.side-bar-content {
    padding-block-start: 1rem;
    block-size: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    h2 {
        margin-inline: 1rem;
    }
}

.new-project-btn {
    margin-block: auto 1rem;
    margin-inline: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    flex-shrink: 0;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.9;
    }

    &:active {
        opacity: 0.8;
    }
}

main {
    margin-left: 250px;
    min-block-size: 100vh;
    padding-block-start: 1.2rem;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.task-grid {
    margin-block-start: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: var(--surface-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 1rem;
}

.task {
    inline-size: 100%;
    padding: 0.5rem;
}

.active {
    background-color: var(--active-color-semi-transparent);
    border: 1px solid var(--active-color);
}

.expired {
    background-color: var(--expired-color-semi-transparent);
    border: 1px solid var(--expired-color);
}

.completed {
    background-color: var(--completed-color-semi-transparent);
    border: 1px solid var(--completed-color);
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.project {
    margin: 0;
    padding: 0;
    border: none;
    inline-size: 100%;
    background: none;
    text-align: center;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        background-color: var(--primary-color-semi-transparent);
    }

    &::after {
        content: '⇒';
        margin-inline-start: 0.3rem;
    }
}