:root {
    --text-color: #333333;
    --background-color: #ffffff;
    --surface-color: #f9f9f9;
    --active-color: #FF7F50;
    --active-color-semi-transparent: #ff7f504d;
    --expired-color: #FF2400;
    --expired-color-semi-transparent: #ff24004d;
    --completed-color: #32CD32;
    --completed-color-semi-transparent: #32cd324d;
    --primary-color: #1E90FF;
    --border-color: #cccccc; 
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    min-block-size: 100vh;
}

h1, h2 {
    line-height: 1.2;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    min-block-size: 100vh;
    inline-size: 250px;
    border-radius: 0 10px 10px 0;
    background-color: transparent;
    border: 1px solid var(--border-color);
}

header {
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
}

main {
    margin-left: 250px;
    min-block-size: 100vh;
    padding-block-start: 1.2rem;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.task-grid {
    margin-block-start: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: var(--surface-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 1rem;
}

.task {
    inline-size: 100%;
    padding: 0.5rem;
}

.active {
    background-color: var(--active-color-semi-transparent);
    border: 1px solid var(--active-color);
}

.expired {
    background-color: var(--expired-color-semi-transparent);
    border: 1px solid var(--expired-color);
}

.completed {
    background-color: var(--completed-color-semi-transparent);
    border: 1px solid var(--completed-color);
}