:root {
    --text-color: #333333;
    --secondary-text-color: #ffffff;
    --background-color: #ffffff;
    --surface-color: #f9f9f9;
    --active-color: #ffbc50;
    --active-color-semi-transparent: #ffbc504d;
    --expired-color: #FF2400;
    --expired-color-semi-transparent: #ff24004d;
    --completed-color: #32CD32;
    --completed-color-semi-transparent: #32cd324d;
    --primary-color: #1E90FF;
    --primary-color-semi-transparent: #1e90ff6d;
    --border-color: #cccccc; 
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    min-block-size: 100vh;
}

h1, h2 {
    line-height: 1.2;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 10px 10px 0;
    border: 1px solid var(--border-color);
    min-block-size: 100vh;
    inline-size: 250px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    overflow: hidden;
}

header {
    border-bottom: 1px solid var(--border-color);
    padding: 1rem;
    flex-shrink: 0;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

.side-bar-content {
    padding-block-start: 1rem;
    block-size: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    h2 {
        margin-inline: 1rem;
    }
}

.new-project-btn {
    margin-block: auto 1rem;
    margin-inline: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    flex-shrink: 0;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.9;
    }

    &:active {
        opacity: 0.8;
    }
}

main {
    position: relative;
    margin-left: 250px;
    min-block-size: 100vh;
    padding-block-start: 1.2rem;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.task-grid {
    margin-block-start: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: var(--surface-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 1rem;
}

.task {
    inline-size: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease, 
                transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    }

    .task-priority {
        text-align: left;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .task-title {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .task-description {
        text-align: center;
        font-size: 0.7rem;
        margin-bottom: 1rem;
    }

    .task-due-date {
        text-align: left;
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
    }

    .task-checkbox {
        margin-inline-end: auto;
        transform: scale(1.2);
    }
}

.active {
    background-color: var(--active-color-semi-transparent);
    border: 1px solid var(--active-color);

    .task-priority,
    .task-title,
    .task-description,
    .task-due-date {
        color: var(--active-color);
    }
}

.expired {
    background-color: var(--expired-color-semi-transparent);
    border: 1px solid var(--expired-color);

    .task-priority,
    .task-title,
    .task-description,
    .task-due-date {
        color: var(--expired-color);
    }
}

.completed {
    background-color: var(--completed-color-semi-transparent);
    border: 1px solid var(--completed-color);

    .task-priority,
    .task-title,
    .task-description,
    .task-due-date {
        color: var(--completed-color);
    }
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.project {
    margin: 0;
    padding: 0;
    border: none;
    inline-size: 100%;
    background: none;
    text-align: center;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        background-color: var(--primary-color-semi-transparent);
    }

    &::after {
        content: '⇒';
        margin-inline-start: 0.3rem;
    }
}

.active-project {
    font-weight: bold;
    text-decoration: underline;
    background-color: var(--primary-color-semi-transparent);
}

.empty-message {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 1rem;
    inline-size: 250px;
    block-size: 250px;
    display: flex;
    background-color: var(--primary-color-semi-transparent);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
    line-height: 1.3;

    p {
        margin: auto;
    }
}

.new-task-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: none;
    border-radius: 50%;
    block-size: 3rem;
    inline-size: 3rem;
    background-color: var(--primary-color);
    font-size: 2rem;
    color: var(--secondary-text-color);
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}